header.mdl-layout__header {
    background-color: #232323 !important;
    //opacity: 0.9;
    .mdl-layout-title {
        a {
            color: #a7a7a7!important; // #757575
            text-decoration: none;
            font-weight: 700;
            font-size: 24px;
        }
    }
}
.mdl-layout-title {
    text-align: center;
    padding: 0 !important;
}
nav.mdl-navigation {
    text-align: center;
    a {
        color: #636b6f;
        text-decoration: none;
    }
}

body {
    background-color: rgba(0,0,0,.06);
}

.mdl-card-pocker-card {
    height: 48px;
    width: 48px;
    padding: 0px 16px;
    color: #636b6f;
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
}

.width-fixed-50 {
    width: 50px;
}

.width-minus-100 {
    text-align: center !important;
    width: calc(100% - 100px);
}

.wait-throbber {
    width: 30px;
    height: 30px;
}
.mdl-layout__drawer-button {
    visibility: hidden;
}
a {
    cursor: pointer !important;
    color: rgb(150, 8, 6) !important;
    text-decoration: none !important;
}

.mdl-button.mdl-button--colored:not(:disabled) {
    color: rgb(150, 8, 6) !important;
}

.display-block {
    display: block;
}